#Changes {  
    text-align: center; 
    font-weight: bold;
    font-family: 'CodyStar';
    font-size: 1.2rem;
    color:  #ccccff;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 80px;
    margin-bottom: 20px;
    text-align: center;
}


#ChangesButton {
    font-family: "Italianno";
    font-size: 1.3rem;
    background-color: #ccccff;
    color: #02061a;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 60px;
  }
  

  #ChangesColumn {
    padding-bottom: 70px;
  }

  