.CompletedTitle {
    font-weight: bold;
    display: inline-block;
    text-align: centre;
    margin-left: 5%;
    margin-top: 10px;
    font-family: 'CodyStar';
    font-size: 1.2rem;
    color:#fad6a5;
    padding: 30px; 
}